{% load static %}


<nav class="navbar navbar-expand-lg">
    <div class="container">

      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li
          {% if '/accounts/dashboard/' == request.path %}
            class = "nav-item active mr-3 "
          {% else%}
            class="nav-item mr-3"
          {% endif%}>
            <a class="nav-link btn btn-outline-primary" href="{% url 'dashboard' %}">Listings</a>
          </li>
          <li
             {% if 'myinquiries' in request.path %}
            class = "nav-item active mr-3 "
          {% else%}
            class="nav-item mr-3"
          {% endif%}>
            <a class="nav-link btn btn-outline-primary" href="{% url 'myinquiries' %}">My Inquiries</a>
          </li>
            <li
             {% if 'inquiry' in request.path %}
            class = "nav-item active mr-3 "
          {% else%}
            class="nav-item mr-3"
          {% endif%}>
            <a class="nav-link btn btn-outline-primary" href="{% url 'inquiries' %}">Inquiries</a>
          </li>
          <li
            {% if 'create' in request.path %}
              class = "nav-item active mr-3 "
            {% else%}
              class="nav-item mr-3"
            {% endif%}>
            <a class="nav-link btn btn-outline-primary" href="{% url 'create' %}">Create Listings</a>
          </li>
          </li>
          <li
            {% if 'change_password' in request.path %}
              class = "nav-item active mr-3 "
            {% else%}
              class="nav-item mr-3"
            {% endif%}>
            <a class="nav-link btn btn-outline-primary" href="{% url 'change_password' %}">Change Password</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">

        </ul>
      </div>
    </div>
  </nav>